:root {
  --base: #f5c000;
  --spacing: 10px;
  --blur: 10px;
}

body {
  text-align: center;
}

.h1 {
  font-family: "Rubik Puddles", cursive;
}

h2 {
  font-size: 32px;
}

img {
  background: var(--base);
}

#kitten {
  padding-top: 40px;
}
