:root {
  --base: #f5c000;
  --spacing: 40px;
  --blur: 40px;
}

body {
  text-align: center;
  background: #222222;
  color: white;
}

.h1 {
  font-family: "Rubik Puddles", cursive;
}

h2 {
  font-size: 32px;
  color: white;
}

img {
  padding: var(--spacing);
  background: var(--base);
  filter: var(--blur);
}
